	@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color:#ececec;
	font-family: 'Catamaran', sans-serif;
	font-weight:300
}